@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    font-family: 'Quicksand', sans-serif;
}

th,
td {
    @apply border border-gray-600 py-1 px-2;
}

th,
tr:nth-child(odd) {
    @apply bg-indigo-400 dark:bg-indigo-950;
}

tr:nth-child(odd) {
    @apply bg-gray-400 dark:bg-gray-800;
}
